extends layout/default.jade

block head  
  title 优拜单车
  +css("/css/index.css")
  +css("/vendor/js/animate.css")

block body
  main-carousel
  #app.app(v-cloak)
    .bg(:style="{'display': (isMobile?'none':'')}")
      .space(:style="{'min-width': singlew}")
      .left_menu
        .icon
          img(src='../img/ubike_logo.png').logo
        .row.flex-row-between
          .col.stream.flex-row-center
            .line.flex-col-center
              .line-first-top
              .dot(:style="{'background-color': (tab==1?'#00e587':'#fff')}")
              .line-bottom
          a(@click='tabpage(1)', :style="{'color': (tab==1?'#00e587':'#fff')}").content HOME
        .row.flex-row-between
          .col.stream.flex-row-center
            .line.flex-col-center
              .line-top
              .dot(:style="{'background-color': (tab==2?'#00e587':'#fff')}")
              .line-bottom
          a(@click='tabpage(2)', :style="{'color': (tab==2?'#00e587':'#fff')}").content ABOUT US
        .row.flex-row-between
          .col.stream.flex-row-center
            .line.flex-col-center
              .line-top
              .dot(:style="{'background-color': (tab==3?'#00e587':'#fff')}")
              .line-bottom
          a(@click='tabpage(3)', :style="{'color': (tab==3?'#00e587':'#fff')}").content DOWNLOAD APP
        .row.flex-row-between
          .col.stream.flex-row-center
            .line.flex-col-center
              .line-top
              .dot(:style="{'background-color': (tab==4?'#00e587':'#fff')}")
              .line-bottom-top
          a(@click='tabpage(4)', :style="{'color': (tab==4?'#00e587':'#fff')}").content JOIN US
        .qrcode(style='border-top-left-radius: 5px; border-top-right-radius: 5px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;')
          img(src='../img/qr_wx.png').qr_bg
        .qrcode
          img(src='../img/qr_apple.png').qr_bg
        .qrcode(style='visibility: hidden;')
          img(src='../img/qr_wx.png').qr_bg
      .tab(:style="{'min-height': height, 'min-width': width}")
        .space1
        .tabcontent(v-if="tab==1", :style="{'background-color': 'transparent'}")
          .home(:style="{'width': imgwidth + 'px'}")
            .slide_line.slide_c1
              img(src='../img/slide_1.jpg')
            .slide_line.slide_c2
              img(src='../img/slide_2.jpg')
            .slide_line.slide_c3
              img(src='../img/slide_3.jpg')
        .tabcontent(v-if="tab==2")
          .about
            .title
              .big 关于优拜
              .small ABOUT US
            .description 优拜是一款专注于为用户提供短途出行解决方案的互联网产品，用户可以用微信、APP进行自行车查找，解锁使用，使用完成后直接将车锁关闭即可，操作简单且收费低廉。拥有近百年自行车工艺制造的永久自行车厂结合用户使用场景，为优拜的车体方案提供研发、设计和生产。精益求精，我们的每一点努力，只为保证您的每一次安全舒适出行体验。
          img(src='../img/bg_2.png').bgend
        .tabcontent(v-if="tab==4")
          .about(style='height: auto')
            .title
              .big 加入优拜
              .small JOIN US
            .description 我们是一家年轻却前景无限的互联网公司，专注于为用户提供短途出行解决方案；公司以共享单车为切入点，为用户创造新的出行方式；团队成员都是来自全国五湖四海的年轻人，因共同的理想和目标聚集在一起。我们希望做到互联网平台中的技术先锋，更是交通出行领域一股清风。
              .short 坐标上海中山公园商区，
                p.contbig 五险一金、
                p.contbig1 股票期权、
                p.contbig2 团队建设、
                p.contbig3 福利可绕地球三圈
          .request
            .left
              .block
                .jd 媒介总监/经理
                .jd_content
                  p 1. 根据公司发展，全面构建公关体系，制定品牌公关策略 与规划、公关事件策划；
                  p 2. 准确把握公司的品牌定位，根据市场需求制定媒体传播方案；
                  p 3. 新媒体体系建立，利用社交平台创造优质内容传播品牌；
                  p 4. 建立和维护与媒体、消费者等公众的良好关系，搭建群新媒体生态圈。
              .block
                .jd 产品经理
                .jd_content
                  p 1. 负责产品流程、逻辑、原型、需求产出及跟踪至上线，迭代后相关数据结果分析；
                  p 2. 深入了解用户端需求，协调各方资源完成最终产品的上线和应用；
                  p 3. 关注产品各项常规数据与指标，通过统计和分析验证构想并指导产品改进方向，并能主动分析数据挖掘需求；
                  p 4. 根据项目需要输出高质量的市场需求文档，产品需求文档，产品原型；
                  p 5. 协调内外部资源，对接技术团队，设计以及运营市场团队，推进产品项目全流程高效运转。
            .right
              .block
                .jd 全栈开发工程师
                .jd_content
                  p 1. 能够进行全栈 ( Web/移动端/后端 )开发，能够使用多种语言编写代码；
                  p 2. 根据前端功能进行需求分析及系统架构设计，独立搭建服务器并完成编码、测试及维护工作；
                  p 3. 良好的编码规范，有较强的学习能力、团队合作能力和沟通能力；
                  p 4. 有3年以上互联网行业开发和设计工作经验，大型互联网公司经验优先，能够进行全栈 ( Web/移动端/后端 )开发，能够使用多种语言编写代码。
              .block
                .jd 内容运营主管
                .jd_content
                  p 1. 负责内部文章、官方微信、微博、软文推广等内容撰写和运营；
                  p 2. 收集热点话题，对文章内容进行及时调整和更新；
                  p 3. 负责微信等平台活动方案策划、创意、执行、运营及汇报和总结；
                  p 4. 调研目标用户喜好，在此基础规划微信内容编辑和发布计划，增加粉丝量，提高的活跃度；
                  p 5. 负责分析用户需求，策划能打动用户的新闻及热点资讯，独立撰写相关新闻稿
          .to 简历请投递 hr@ubike.cn
        .tabcontent(v-if="tab==3")
          .about
            .logo
              .imglogo
                img.ulogo(src='../img/ubike_logo.png')
              .downloadline 下载优拜单车App
                p.small DOWNLOAD APP
              .qrarea
                .qrblock_left
                .qrblock_right
            .phone(style='margin:100px 100px 100px 0px')
              #myswiper.swiper-container(v-my-directive='start')
                .swiper-wrapper
                  .swiper-slide 
                    img(src='../img/lb1.jpg').imgsc 
                  .swiper-slide 
                    img(src='../img/lb2.jpg').imgsc 
                  .swiper-slide 
                    img(src='../img/lb3.jpg').imgsc 
                .swiper-pagination
        .space_footer


      .space(:style="{'min-width': singlew}")
    .foot(:style="{'display': (isMobile?'none':'')}")
      p 上海轺(yáo)辂(lù)信息科技有限公司 联系电话：021-6251-9808
      p 地址：上海市长宁区长宁路1027号兆丰广场大厦24楼1-3
      p © 2016 Shanghai yaolu Technology Co.,Ltd.
      p 备案许可证号:沪ICP备16039354号

    .bg1(:style="{'min-width': bgwidth, 'padding-bottom': '-110px', 'min-height': height, 'display': (isMobile?'':'none')}")
      .header
        .logo
          img(src='../img/ubike_logo.png').mylogo
        .menu
          .title(@click='showMenu()') {{defaultM}}
          .logo2(@click='showMenu()') 〉
        .myMenu(v-show="showM")
          .title
            .single(@click='goTo(1)') Home
            .single(@click='goTo(2)') About US
            .single(@click='goTo(3)') Download App
            .single(@click='goTo(4)') Join US
          .logo2
      .mobile_container
        .s_line
        .c_c(v-show="tab==1")
          .mys
            .slide_line1.m_slide_c1
              img(src='../img/slide_1.jpg')
            .slide_line1.m_slide_c2
              img(src='../img/slide_2.jpg')
            .slide_line1.m_slide_c3
              img(src='../img/slide_3.jpg')
          .block(style='background-color: rgba(0,0,0,0.34); padding: 0px')
            .qrblock
              .qrsingle
                img(src='../img/qr_wx.png').qrbg
              .qrsingle
                img(src='../img/qr_apple.png').qrbg
          .space_footer
        .c_c(v-show="tab==2")
          .c_c_c
            .title
              .big 关于优拜
              .small ABOUT US
            .txt 优拜是一款专注于为用户提供短途出行解决方案的互联网产品，用户可以用微信、APP进行自行车查找，解锁使用，使用完成后直接将车锁关闭即可，操作简单且收费低廉。拥有近百年自行车工艺制造的永久自行车厂结合用户使用场景，为优拜的车体方案提供研发、设计和生产。精益求精，我们的每一点努力，只为保证您的每一次安全舒适出行体验。
          .bg_img
            img(src='../img/bg_2.png').bgend1
          .space_footer
        .c_c(v-show="tab==3")
          #slice_ccc.c_c_c
            .title(:style='{flex: 1}')
              .big 下载优拜单车App
              .small Download App
            .txt(:style='{flex: 1}')
          .bg_qr
            .qrb
              
            .qrb
              
          .slide_slide(:style="{'max-width': slide_width}")
            .swiper-container
              .swiper-wrapper
                .swiper-slide 
                  img(src='../img/lb1.jpg').imgsc 
                .swiper-slide 
                  img(src='../img/lb2.jpg').imgsc 
                .swiper-slide 
                  img(src='../img/lb3.jpg').imgsc 
              .swiper-pagination
          .space_footer
        .c_c(v-show="tab==4")
          .c_c_c
            .title
              .big 加入优拜
              .small Join US
            .txt 我们是一家年轻却前景无限的互联网公司，专注于为用户提供短途出行解决方案；公司以共享单车为切入点，为用户创造新的出行方式；团队成员都是来自全国五湖四海的年轻人，因共同的理想和目标聚集在一起。我们希望做到互联网平台中的技术先锋，更是交通出行领域一股清风。
          .short 坐标上海中山公园商区，
            p.contbig 五险一金、
            p.contbig1 股票期权、
            p.contbig2 团队建设、
            p.contbig3 福利可绕地球三圈
          .block
            .myblock
              .jd 媒介总监/经理
              .jd_content
                p 1. 根据公司发展，全面构建公关体系，制定品牌公关策略 与规划、公关事件策划；
                p 2. 准确把握公司的品牌定位，根据市场需求制定媒体传播方案；
                p 3. 新媒体体系建立，利用社交平台创造优质内容传播品牌；
                p 4. 建立和维护与媒体、消费者等公众的良好关系，搭建群新媒体生态圈。
          .block
            .myblock
              .jd 产品经理
              .jd_content
                p 1. 负责产品流程、逻辑、原型、需求产出及跟踪至上线，迭代后相关数据结果分析；
                p 2. 深入了解用户端需求，协调各方资源完成最终产品的上线和应用；
                p 3. 关注产品各项常规数据与指标，通过统计和分析验证构想并指导产品改进方向，并能主动分析数据挖掘需求；
                p 4. 根据项目需要输出高质量的市场需求文档，产品需求文档，产品原型；
                p 5. 协调内外部资源，对接技术团队，设计以及运营市场团队，推进产品项目全流程高效运转。
          .block
            .myblock
              .jd 全栈开发工程师
              .jd_content
                p 1. 能够进行全栈 ( Web/移动端/后端 )开发，能够使用多种语言编写代码；
                p 2. 根据前端功能进行需求分析及系统架构设计，独立搭建服务器并完成编码、测试及维护工作；
                p 3. 良好的编码规范，有较强的学习能力、团队合作能力和沟通能力；
                p 4. 有3年以上互联网行业开发和设计工作经验，大型互联网公司经验优先，能够进行全栈 ( Web/移动端/后端 )开发，能够使用多种语言编写代码。
          .block
            .myblock
              .jd 内容运营主管
              .jd_content
                p 1. 负责内部文章、官方微信、微博、软文推广等内容撰写和运营；
                p 2. 收集热点话题，对文章内容进行及时调整和更新；
                p 3. 负责微信等平台活动方案策划、创意、执行、运营及汇报和总结；
                p 4. 调研目标用户喜好，在此基础规划微信内容编辑和发布计划，增加粉丝量，提高的活跃度；
                p 5. 负责分析用户需求，策划能打动用户的新闻及热点资讯，独立撰写相关新闻稿
          .to1 简历请投递 hr@ubike.cn
          .space_footer
        .s_line
    .footer1(:style="{'display': (isMobile?'':'none')}")
      p 上海轺(yáo)辂(lù)信息科技有限公司 联系电话：021-6251-9808
      p 地址：上海市长宁区长宁路1027号兆丰广场大厦24楼1-3
      p © 2016 Shanghai yaolu Technology Co.,Ltd.
      p 备案许可证号:沪ICP备16039354号

block js
  +js("/js/index.js")
  +js("/vendor/js/endAnimate.js")
