extends layout/default.jade

block head  
  title 优拜出行

block body
  .header
    .overlay.flex-col-center
      .name 支付成功
  .other.table.ltop.nex
    .row 
      .title 骑行里程
    .row(style='border-bottom: 1px solid #f1f1f1;')
      .title 骑行时间

block js