include ./static

doctype html
html 
  head
    meta(name="viewport", content="width=device-width, user-scalable=no, shrink-to-fit=no")
    meta(name="apple-touch-fullscreen", content="YES")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="format-detection", content="telephone=no")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(charset="UTF-8")
    meta(Keywords='优拜单车,优拜,优拜自行车,轺辂信息科技,优拜骑行')
    meta(description='优拜单车是轺辂信息科技有限公司(优拜)提供的短途出行解决方案')
    meta(baidu-site-verification='qyEZkOHY5Z')

    +css("/css/base.css")
    +css("/vendor/js/swiper-3.3.1.min.css")
    block head
  body
    block body
    +js("/vendor/js/zepto.js")
    +js("/vendor/js/vue.js")
    +js("/vendor/js/swiper-3.3.1.jquery.min.js")
    block js
